html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Order Summary
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css')
    style.
      body,
      .table {
          font-size: 10px;
      }
      .container {
        margin: 5rem;
      }
      hr {
        border-color: black;
      }
      .invoice-number {
        word-break: break-all;
      }
      .table {
        margin-bottom: 0;
      }
      .table thead th {
        border-color: black;
        border-bottom-width: 1px;
      }
      .table td {
        border: 0;
      }
      .table > tbody > tr > .line {
        border-top: 1px solid black;
      }
  body
    .container
      .row
        .row
          // Seller Details
          .col-xs-6
            p Invoice #{orderDate}
              br
              strong Retail/TaxInvoice/Cash Memorandum
            p
              strong Sold By
              | #{sellerName}
              br
              |                                 #{sellerAddress1}
              br
              |                                 #{sellerAddress2}
              br
              |                                 #{sellerAddress3}
            div CIN: #{cinNumber}
            div TIN: #{tinNumber}
            div CST: #{cstNumber}
          // Bar Code
          .col-xs-6.text-right
            address
              strong Payment Method:
              br
              |                                 #{paymentMethod}
              br
              |                                 #{buyerEmail}
            .invoice-number Invoice Number: #{invoiceNumber}
        hr
        // Buyer Details
        .row
          .col-xs-6
            address
              strong Billing Address:
              br
              #{buyerName}
              br
              |                                 #{billingAddress1}
              br
              |                                 #{billingAddress2}
              br
              |                                 #{billingAddress3}
          .col-xs-6
            address
              strong Shipping Address:
              br
              #{buyerName}
              br
              |                                 #{shippingAddress1}
              br
              |                                 #{shippingAddress2}
              br
              |                                 #{shippingAddress3}
          br
          p.col-xs-12 Nature of Transaction: Sale
          .col-xs-12
            strong Order ID: #{orderId}
        // Order Summary
        .row
          .col-md-12
            .table-responsive
              table.table.table-condensed
                thead
                  tr
                    th Item Code
                    th Item Detail Code
                    th.text-center Price
                    th.text-center Quantity
                    th.text-right Totals
                tbody
                  each val,index in items
                    tr
                      td #{items[index].itemCode}
                      td #{items[index].itemDetailCode}
                      td.text-center #{items[index].price}
                      td.text-center #{items[index].qty}
                      td.text-right #{items[index].total}
                    tr
                      td.line
                      td.line
                      td.line
                      td.line.text-center
                        strong Subtotal
                      td.line.text-right #{subTotal}
                    each val,index in charges
                      tr
                        td
                        td
                        td
                        td.text-center
                          strong #{charges[index][0]}
                        td.text-right #{charges[index][1]}
                    tr
                      td
                      td
                      td
                      td.text-center
                        strong Total
                      td.text-right #{baseCurrency} #{grandTotal}
        hr
        .row.disclaimer-text
          .col-xs-12
            strong Disclaimer:
            br
            br
            |                     #{disclaimer}
