html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Order Summary
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css')
    style.
      .invoice-title h2,
      .invoice-title h3 {
      display: inline-block;
      }
      .table thead th {
      border-bottom: 0;
      }
      .table > tbody > tr > .no-line {
      border-top: none;
      }
      .table > thead > tr > .no-line {
      border-bottom: none;
      }
      .table > tbody > tr > .thick-line {
      border-top: 2px solid;
      }
  body
    .container
      .row
        .col-xs-12
          .invoice-title
            h2 Invoice
            h3.pull-right Order # {orderId}
          hr
          // Seller Details
          .row
            .col-xs-12
              strong Seller Name: 
               | Subu
            br
            br
            .col-xs-6
              address
                strong Seller Address:
                br
                |                                 #{sellerData.sellerAddress}
                
            .col-xs-6.text-right
              strong Seller Details:
              br
              div CIN: #{sellerData.cinNumber}
              div TIN: #{sellerData.tinNumber}
              div CST: #{sellerData.cstNumber}
          hr
          // Buyer Details
          .row
            .col-xs-12
              strong Buyer Name: 
              | #{billingDetails.name}
            br
            br
            .col-xs-6
              address
                strong Billing Address:
                br
                |                                 #{billingDetails.billingAddress}
            .col-xs-6.text-right
              address
                strong Shipping Address:
                br
                |                                 #{shippingDetails.shippingAddress}
            .col-xs-6
              address
                strong Payment Method:
                br
                |                                 Visa ending **** 4242
                br
                |                                 jsmith@email.com
            .col-xs-6.text-right
              address
                strong Order Date:
                br
                |                                #{currDate}
                br
                br
      // Order Summary
      .row
        .col-md-12
          .panel.panel-default
            .panel-heading
              h3.panel-title
                strong Order summary
            .panel-body
              .table-responsive
                table.table.table-condensed
                  thead
                    tr
                      th Item Code
                      th Item Detail Code
                      th.text-center Price
                      th.text-center Quantity
                      th.text-right Totals
                  tbody
                    // foreach ($order->lineItems as $line) or some such thing here
                    tr
                      td BS-200
                      td BS-200-1
                      td.text-center $10.99
                      td.text-center 1
                      td.text-right $10.99
                    tr
                      td BS-400
                      td BS-400-1
                      td.text-center $20.00
                      td.text-center 3
                      td.text-right $60.00
                    tr
                      td BS-1000
                      td BS-1000-1
                      td.text-center $600.00
                      td.text-center 1
                      td.text-right $600.00
                    tr
                      td.thick-line
                      td.thick-line
                      td.thick-line
                      td.thick-line.text-center
                        strong Subtotal
                      td.thick-line.text-right $670.99
                    // Charges : Start
                    // foreach ($charge->charges as $line) or some such thing here
                    tr
                      td.no-line
                      td.no-line
                      td.no-line
                      td.no-line.text-center
                        strong Shipping
                      td.no-line.text-right $15
                    tr
                      td.no-line
                      td.no-line
                      td.no-line
                      td.no-line.text-center
                        strong Tax
                      td.no-line.text-right $15
                    // Charges : End
                    tr
                      td.no-line
                      td.no-line
                      td.no-line
                      td.no-line.text-center
                        strong Total
                      td.no-line.text-right $700.99
      // Disclaimer
      .row.disclaimer-text
        .col-xs-12
          strong Disclaimer:
          br
          br
          |                    #{sellerDetails.disclaimer}
